.window {
  position: absolute;
}
.panel {
  background-color:#333333;
  padding:20px;
}
.panel-header,.panel-body,.panel-footer{
  border:3px solid #5FB1A7;
}
.panel-header{
  background-color:#F92672;
  padding: 5px;
  position: relative;
}
.panel-body{
  background-color:#C739F4;
  padding:10px;
  border-top-width: 0;
}
.panel-footer{
  background-color:#235846;
  padding:10px;
  border-top-width: 0;
}
.panel-noscroll {
  overflow: hidden;
}
.panel-fit,
.panel-fit body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.panel-loading{
  color:#fff;
}
.panel-header-noborder,.panel-body-noborder,.panel-footer-noborder{
  border:none;
}
.panel-icon, .panel-tool {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  overflow: hidden;
}
.panel-tool {
  right: 5px;
  width: auto;
}
.panel-tool-collapse {
  background: url('../img/panel_tools.png') no-repeat -32px 0;
}
.panel-tool-min {
  background: url('../img/panel_tools.png') no-repeat 0px 0px;
}
.panel-tool-max {
  background: url('../img/panel_tools.png') no-repeat 0px -16px;
}
.panel-tool-close {
  background: url('../img/panel_tools.png') no-repeat -16px 0px;
}
.panel-tool a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 0 0 0 2px;
  vertical-align: top;
}