.textbox {
  position: relative;
  border: 1px solid #95B8E7;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.textbox .textbox-text {
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 4px;
  white-space: normal;
  vertical-align: top;
  outline-style: none;
  resize: none;
}
.textbox .textbox-prompt {
  font-size: 12px;
  color: #aaa;
}
.textbox-invalid {
  border-color: #ffa8a8;
  background-color: #fff3f3;
}
.textbox {
  height: 20px;
  margin: 0;
  padding: 0 2px;
  box-sizing: content-box;
}